body {
    height: 450px;
    width: 317px;
    background-color: rgb(10 168 167 / 63%);
}

/* #9670be , #be70b6 ,#9370be ,#70beb0 */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: rgb(233 248 248);
    margin: -8px;
    padding: 5px 10px;
    box-shadow: 1px 1px 12px 0px #0a3234;
}

.light-theme {
    fill: #156666;
}

.dark-theme {
    fill: whitesmoke;
}

h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-family: cursive;
    color: rgb(10 168 167);
}

.upper {
    height: 82px;
    margin-bottom: 10px;
}

.left-content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setting:hover {
    transform: rotate(45deg);
}

.settingImg {
    padding: 3px;
    box-shadow: 1px 1px 3px 1px #698894;
}

.dark-img {
    padding: 3px;
    box-shadow: 1px 1px 3px 1px #fefefe;
}

#date {
    padding-left: 13px;
    margin-bottom: -14px;
    color: #12494c;
}

#theme {
    margin-right: 10px;
}

#time {
    text-align: center;
    font-size: 50px;
    margin: 10px;
    font-weight: normal;
    color: whitesmoke;
}

svg:hover {
    cursor: pointer;
}

svg{
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-container {
    display: flex;
    justify-content: space-between;
}

#btn-container>button {
    box-shadow: 2px 2px 2px 0px gray;
    color: #156666;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    width: 98px;
    cursor: pointer;
}

#task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 253px;
    padding: 13px 9px;
    overflow-y: overlay;
}

#current-time {
    font-weight: bold;
    margin: 0px;
    font-family: cursive;
    color: indianred;
    padding-left: 5px;
    font-size: 11px;
}

.task-input {
    outline: none;
    border: none;
    border-radius: 4px;
    margin: 5px;
    padding: 6px 10px 6px 10px;
    width: 200px;

}

input::first-letter {
    text-transform: uppercase;
}

.task-delete {
    outline: none;
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    color: indianred;
    cursor: pointer;
    font-weight: 700;
}

.completed {
    color: rgb(10 168 167);
    font-style: italic;
    text-decoration: line-through;
}


.done-image {
    margin: 6px;
    width: 13px;
    height: 12px;
}

.task-row {
    display: flex;
    align-items: center;
}

.task-complete {
    background-color: whitesmoke;
    margin-left: 2px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    color: rgb(45, 183, 66);
    cursor: pointer;
    font-weight: 700;
}